*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    width: 1430px;
    background-image: url("../images/back.jpg");
    background-size: cover;
}
.parent{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/back.jpg") ;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
    position: absolute;
}
.img1{
   animation: ani1 4s ease 0s 1 normal forwards running;}
   @keyframes ani1{
   from{
    left: 0;

   }
   to{
    left: 1460px;
   }
}

.img2{
    top: 220px;
    animation: ani1 4s ease-in-out 8s 1 normal forwards running;}
    @keyframes ani1{
    from{
     left: 0;
 
    }
    to{
     left: 1460px;
    }
  
}
.img3{
    left: 1460px;
    top: 110px;
    animation: ani1 4s ease-in-out 4s 1 reverse forwards running;}
   @keyframes ani1{
   from{
    left: 0;

   }
   to{
    left: 1460px;
   }
}
.img4{
    left: 1430px;
    top: 300px;
    animation: ani1 4s ease-in-out 12s 1 reverse forwards running;}
    @keyframes ani1{
    from{
     left: 0;
 
    }
    to{
     left: 1460px;
    }
}
.img5{
    top:370px;
    animation: ani1 4s ease-in-out 16s 1 normal forwards running;}
    @keyframes ani1{
    from{
     left: 0;
 
    }
    to{
     left: 1430px;
    }
}
.img6{
    left: 1460px;
    top: 420px;
    animation: ani1 4s ease-in-out 20s 1 reverse forwards running;}
    @keyframes ani1{
    from{
     left: 0;
 
    }
    to{
     left: 1460px;
    }
}
.img7{
    top: 500px;
    animation: ani1 4s ease-in-out 24s 1 normal forwards running;}
    @keyframes ani1{
    from{
     left: 0;
 
    }
    to{
     left: 1460px;
    }
}
.img8{
    left: 1460px;
    top: 600px;
    animation: ani1 4s ease-in-out 28s 1 reverse forwards running;}
    @keyframes ani1{
    from{
     left: 0;
 
    }
    to{
     left: 1400px;
    }
}